.contentDiv {
    padding: 10px;
    overflow: auto;
    margin: 0px;
    borderRadius: 5px;
    border: 1px solid #cad8c5;
    color: #7daded;
}

.contentDiv:hover {
    background: #adbfea;
    cursor: pointer;
    border: #5e83db;
    text-decoration: none;
}

.pic {
    float: left;
    width: 120px;
    height: 120px;
    margin-right: 5px;
}

.articleTitleDiv {
    float: left !important;
    padding: 10px;
}

.title-item {
    border: 1px groove black;
    font-size: 15px !important;
    margin-right: 2px;
    font-family: Bradley Hand;
    color: black;
    background: transparent;
    margin-left: 2px;
}

.title-item:hover {
    font-family: Bradley Hand;
    color: #363838;
    background: white;
}

.copyRight {
    font-family: Snell Roundhand;
    color: white;
    float: left;
}

.contentModalTitle {
    font-family: Chalkduster;
    color: #eddf44;
    font-size: 14px;
}

.desc {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
    color: #d6e8ce;
}

.title {
    font-family: Optima;
    font-size: 20px;
    color: whitesmoke;
}

.articleTitle {
    font-size: 13px;
    color: #363834;
    font-family: Georgia, Serif;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 3px 3px gainsboro;
    width: 100%;
}

.modalHeaderTitle {
    color: whitesmoke;
    font-family: Trebuchet MS;
}

.articleContentTitle {
    font-size: 18px;
    font-family: Georgia, Serif;
}

.detailDiv {
    background-image: url('../statics/content-background.jpg') !important;
    background-size: cover;
    min-height: 100vh;
}

.articleHeader {
    text-align: center;
    padding: 10px;
    font-family: Georgia, Serif;
    text-shadow: 2px 2px gainsboro;
}

.patentImg {
    margin: 10px 5% 10px 5%;
    width: 90%;
}

.patentImgDiv {
    float: right;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.contentArticleDiv {
    float: right;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-right: 5%;
    margin-bottom: 10px;
    bottom: 0;
    margin-left: 5%;
    background: white;
}

.contentArticleDetail {
    margin: 10px 2% 10px 2%;
    width: 95%;
}

.contentFooter {
    border-top: black 1px solid;
}

.goPreviousButton {
    text-align: center;
    padding:10px;
}