.login-moda {

}

.login-moda-title {
    font-family: "Bangla MN";
}

.login-moda-body {
    font-family: "Bangla MN";
}

.login-moda-footer {
    font-family: "Bangla MN";
}

.sign-out-button {
    align-items: center;
}

.sign-in-button {

}